.footer{
    background-color:#0C0C0C;
}
.footer-links{
    padding: 4rem 6rem 2rem 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-links-contact{
    flex: 1;
    margin: 1rem;
    text-align: center;
}
.footer-headtext{
    color: #DCCA87;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 41.6px;
    margin-bottom: 1rem;
}
.footer-text{
  color:#FFFFFF;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 1rem;
}
.footer-links-logo{
    flex: 1;
    margin: 1rem;
    text-align: center;
}
.footer-links-logo img:first-child {
    width: 210px;
    margin-bottom: 0.75rem;
}
.spoon-img{
    margin-bottom: 1rem;
}
.footer-links-logo-icons{
    margin-top: 0.5rem;
    font-size: 2rem;
}
.footer-links-logo-icons .icons{
    margin-right: 1rem;
    color: #FFFFFF;
    transition: 0.5s;
}
.footer-links-logo-icons .icons:hover{
    color: #DCCA87;
    transform: translateY(-10px);
}
.footer-links-work{
    flex: 1;
    margin: 1rem;
    text-align: center;
}
.footer-copyright{
    padding: 0rem 6rem 4rem 6rem;
    text-align: center;
}
@media screen and (max-width:1100px){
    .footer-links{
        padding: 4rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width:800px){
    .footer-links{
        padding: 4rem 1rem 2rem 1rem;
    }
    .footer-headtext{
        font-size: 1.9rem;
    }
    .footer-links-logo img:first-child {
        width: 85%;
    }
    .footer-text{
        font-size: .9rem;
    }
}
@media screen and (max-width:738px){
    .footer-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem 2rem 2rem;
    }
    .footer-links-logo img:first-child {
        width: 80%;
    }
    .footer-copyright{
        padding: 0rem 2rem 4rem 2rem;
    }
}